{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Pannier{% endblock title %}
{% block content %}
<section class="banner" style="background-image:url(/static/assets/img/background.png)">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="title-area-data">
               <h2>Pannier</h2>
               <p>A magical combination that sent aromas to the taste buds</p>
            </div>
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                 <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Accueil</a>
               </li>
               
               <li class="breadcrumb-item active" aria-current="page">Pannier</li>
            </ol>
         </div>
         <div class="col-lg-5">
            <div class="row">
               <div class="col-6">
                  <div class="title-area-img">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                     <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                  </div>
               </div>
               <div class="col-6">
                  <div class="title-area-img two">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="gap">
   {% if cart|length >= 1 %}
   <div class="container" id="cart-list-table-container">
      <div class="woocommerce-cart-form" id="cart-list-table">
            <div style="overflow-x:auto;overflow-y: hidden;">
              <table class="shop_table table-responsive">
                    <thead>
                        <tr>
                            <th class="product-name">Product</th>
                            <th class="product-quantity">quantité</th>
                            <th class="product-subtotal">Total</th>
                            <th class="product-subtotal">Supprimer</th>
                            <th class="product-subtotal">Rafraichir</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for item in cart %}
                        <tr>
                            <td class="product-name">
                                <img alt="img/{{item.item_title}}" height="50" width = "50" src="{{item.item_image}}">
                                <div>
                                    <a href="#">{{item.item_title}}</a>
                                    
                                </div>
                            </td>
                            <td class="product-quantity">
                                <input type="number" id="qty-{{item.id}}" class="input-text" value="{{item.quantity}}">
                                <input type="hidden" id="oqty-{{item.id}}" value="1">
                            </td>
                            <td class="product-subtotal">
                                <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">fcfa </span><span id="price-{{item.id}}">{{item.total_price}}</span></bdi></span>
                            </td>
                            <td class="product-subtotal">
                              <button class="delete-item-btn" data-index="{{item.id}}" style="border: none;background-color: transparent;"><i class="fa fa-trash" style="color: #f3274c;" ></i>
                              </button>
                          </td>
                          <td class="product-subtotal">
                           {% csrf_token %}
                           <button class="update-item-btn" data-index="{{item.id}}"  style="border: none;background-color: transparent;"><i class="fa fa-refresh" style="color: #8d8284;" aria-hidden="true"></i>
                           </button>
                       </td>
                        </tr>
                     {% endfor %}
                    </tbody>

              </table>
            </div>
         <div class="row mt-5" id="total_price">
            <div class="col-lg-4">
               {% if request.user.is_authenticated %}
               <div class="coupon-area">
                  <h3>Appliquer Coupon</h3>
                  <div class="coupon">
                     {% csrf_token %}
                     <input type="text" name="coupon_code" class="input-text" placeholder="Coupon Code">
                     <button type="submit" id="apply-coupon-btn" name="apply_coupon"><span>Appliquer Coupon</span>
                     </button>
                  </div>
            </div>
               {% else %}
               <h4>Vous devez avoir un compte pour beneficier d'une reduction sur nos prix </h4>
               {% endif %}
               
            </div>
            <div class="col-lg-8">
               <div class="cart_totals">
                     <h4>Cart Totals</h4>
                     <div class="shop_table-boder">
                        <table class="shop_table_responsive">
                           <tbody>
                              {% if cart.coupon %}
                              <tr class="cart-subtotal">
                                 <th>Sous total:</th>
                                 <td>
                                    <span class="woocommerce-Price-amount">
                                               <bdi>
                                       <span class="woocommerce-Price-currencySymbol total-price">fcfa </span>{{ cart.get_total_price|floatformat:2 }}
                                    </bdi>
                                    </span>
                                 </td>
                           </tr>
                           <tr class="Shipping">
                                 <th>"{{ cart.coupon.code }}" coupon
                                    ({{ cart.coupon.discount }}% off)</th>
                                 <td>
                                    <span class="woocommerce-Price-amount amount">
                                       fcfa {{ cart.get_discount|floatformat:2 }}
                                    </span>
                                 </td>
                            </tr>
                              {% endif %}

                               <tr class="Total">
                                     <th>Total:</th>
                                     <td>
                                        <span class="woocommerce-Price-amount">
                                        <bdi>
                                           <span class="total-price">fcfa </span>{{ cart.get_total_price_after_discount|floatformat:2 }}
                                        </bdi>
                                        </span>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                     </div>
                      <div class="wc-proceed-to-checkout">
                        <a href="{% url 'orders:order_create' %}" class="button">
                           <span>Passer une Commande</span>
                           </a>
                  </div>
                     </div>
            </div>
         </div>
      </div>
   </div>
   {% else %}
   <h2>Votre pannier est vide!! </>
   {% endif %}
</section>


{% endblock content %}