
{% load static %}
<div class="cart-popup" id="cartpopper">
    <button type='button' class='close' onclick='$(this).parent().removeClass("show-cart");'>×</button>


    <ul>
     {% for food in cart %}
     
      <li class="d-flex align-items-center position-relative" id="item-{{food.id}}">

        <div class="p-img light-bg">

          <img src="{{ food.item_image }}" height="50" width = "50" alt="Product Image">

        </div>

        <div class="p-data">

          <h3 class="font-semi-bold">{{ food.item_title }}</h3>

          <p class="theme-clr font-semi-bold">{{food.quantity}} x fcfa {{food.price}}</p>

        </div>
        
        <button id="remove-from-cart" class="remove-from-cart" data-index="{{food.id}}"><a href="JavaScript:void(0)" ></a></button>

      </li>
      
    {% endfor %}
    </ul>

      <div class="cart-total d-flex align-items-center justify-content-between" id="cartpopper-total-price-container">

        <span class="font-semi-bold">Total:</span>

        <span class="font-semi-bold" id="cartpopper-total-price">fcfa {{cart.get_total_price}}</span>

      </div>

      <div class="cart-btns d-flex align-items-center justify-content-between">

        <a class="font-bold" href="{% url 'cart:cart_detail' %}">Panier</a>

        <a class="font-bold theme-bg-clr text-white checkout" href="{% url 'orders:order_create' %}">Commander</a>

      </div>

</div>