{% load static %}

<section class="gap no-bottom">
    <div class="container">
       <div class="heading-two">
          <h2>Choisir une Categorie</h2>
          <div class="line"></div>
       </div>
       {% if menus %}
       <div class="choosecategory owl-carousel owl-theme">
          
          {% for category in menus %}
          <div class="item">
             <div class="category-choose">
                <div class="category-choose-img">
                   <img alt="Category" height="150" width = "259" src="{{category.image.url}}">
                </div>
                <a href="{% url 'app:c-details' category.slug %}"><h3>{{category.nom}}</h3></a>
                <span>{{category.items.count}} item dans le menu</span>
             </div>
          </div>
          {% endfor %}
          {% else %}
       </div>
       <h2>Rien dans le menu</h2>
      {% endif %}
    </div>
 </section>