{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Menu Details{% endblock title %}
{% block content %}

<section class="banner" style="background-image:url(/static/assets/img/background.png)">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-7">
             <div class="title-area-data">
                <h2>Menu details</h2>
                <p>Une combinaison magique qui envoie des arômes aux papilles</p>
             </div>
             <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Accueil</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Menu details</li>
             </ol>
          </div>
          <div class="col-lg-5">
             <div class="row">
                <div class="col-6">
                   <div class="title-area-img">
                      <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                      <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                   </div>
                </div>
                <div class="col-6">
                   <div class="title-area-img two">
                      <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</section>

 {% include 'partials/categories.html' %}

 <section class="gap complimentary" style="background-color:#f5f8fd;">
    <div class="container">
       <div class="heading-two">
          <h2>{{categorie.nom}}</h2>
          <p>{{categorie.description|truncatewords:9}}</p>
       </div>
       <div class="row">
         {% for item in categorie.items.all %}
         <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="fast-food-menus two">
                  <div class="fast-food-img">
                     <img alt="fast-food-img" src="{{item.image.url}}" alt="image/{{item.title}}" height="196", width="195">
                  </div>
                  <div>
                     
                     <a href="{{item.get_absolute_url}}"><h3>{{item.title}}</h3></a>
                     <span>{{item.price}} fcfa</span>
                     <ul class="star">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                     </ul>
                  </div>
                  {% csrf_token %}
                  <input type="hidden" name="qty" value="1" id="qty-{{item.id}}" >
                  <input type="hidden" name="oqty" value="0" id="oqty-{{item.id}}" >
                  <a class="add_to_cart" data-index="{{item.id}}">

                  <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
               </div>
         </div>

         {% endfor %}

       </div>
       <h5>Appel de réservation 24/7:  <a href="callto:+441298123987">+237 694 08 62 73</a></h5>
    </div>
 </section>

 {% endblock content %}