{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Acceuil{% endblock title %}
{% block content %}
<!--HERO SECTION-->
<section class="slider-hero">
    <div class="slider-home-1 owl-carousel owl-theme">
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-1.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>The Perfect Space to Enjoy Fantastic Food</h2>
                      <h5>Festive dining at Farthings where we are strong believers in using the very best produce</h5>
                      <div class="d-md-flex align-items-center">
                         <a href="menu-1.html" class="button">See Our Menus</a>
                         <div class="video">
                         <a data-fancybox="" href="https://www.youtube.com/watch?v=1La4QzGeaaQ"><i>
                           <svg width="15" height="22" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M11 8.5L0.5 0.272758L0.5 16.7272L11 8.5Z" fill="#fff"/>
                           </svg>
                            </i>Watch Video</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-2.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>grilled cheese</h2>
                      <h1>burger</h1>
                      <h6>limited time offer</h6>
                      <div class="d-md-flex align-items-center">
                         <a href="menu-1.html" class="button">get offer today</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-3.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>delicious</h2>
                      <h1>Hot Pizza</h1>
                      <h6>don't miss this deal</h6>
                      <div class="d-md-flex align-items-center">
                         <a href="menu-1.html" class="button">get offer today</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-4.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>Summer Drink</h2>
                      <h1>Cocktail</h1>
                      <h6>limited time offer</h6>
                      <div class="d-md-flex align-items-center">
                         <a href="menu-1.html" class="button">get offer today</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="weekly-special">
                  <span>Weekly Special</span>
                  <div>
                     <h4><sup>$</sup>90.85</h4>
                     <h5>Sicilian Pizza</h5>
                     <ul class="star">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                     </ul>
                  </div>
                  <img alt="Pizza" src="{% static 'assets/img/pizze-img.png' %}">
               </div>
</section>
<!--END-->

<!--About section-->
<section class="gap">
   <div class="container">
      <div class="row">
         <div class="col-xl-6">
            <div class="heading">
               <span>About The Food Restaurant</span>
               <h2>New Ground with Dishes to be Enjoyed</h2>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="about-text">
               <p>Nisl quam nestibulum ac quam nec odio eleme aucan ligula. Orci varius nat oque pena tibus et urient monte nascete ridiculus mus nellentesq um ac qu am nec odio rbine. Nisl quam nestibu aucan ligula. </p>
               <div class="mt-4 d-flex align-items-center">
                  <img alt="girl" src="{% static 'assets/img/girl.jpg' %}">
                  <div>
                     <h4>Willimes James</h4>
                     <p>Director and Chief Operations Officer</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-5">
         <div class="col-xl-4 col-lg-6">
            <div class="restaurant-card">
               <img alt="Restaurant-img" class="w-100" src="{% static 'assets/img/restaurant.jpg' %}">
               <div class="restaurant-span">
                  <span>Restaurant</span>
               </div>
               <div class="coctail-bar">
                  <h5>Restaurant</h5>
                  <p>Nisl quam nestibulum ac quam nec aucan ligula. Orci varius natoque li um ac quam nec odio rbine.</p>
                  <a href="contact.html">Reserve a Table</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-6">
            <div class="restaurant-card coctail">
               <img alt="Restaurant-img" class="w-100" src="{% static 'assets/img/restaurant-2.jpg' %}">
               <div class="restaurant-span">
                  <span>Coctail Bar</span>
               </div>
               <div class="coctail-bar">
                  <h5>Coctail Bar</h5>
                  <p>Nisl quam nestibulum ac quam nec aucan ligula. Orci varius natoque li um ac quam nec odio rbine.</p>
                  <a href="contact.html">Reserve a Table</a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-6">
            <div class="restaurant-card">
               <img alt="Restaurant-img" class="w-100" src="{% static 'assets/img/restaurant-3.jpg' %}">
               <div class="restaurant-span">
                  <span>Private Dining</span>
               </div>
               <div class="coctail-bar">
                  <h5>Private Dining</h5>
                  <p>Nisl quam nestibulum ac quam nec aucan ligula. Orci varius natoque li um ac quam nec odio rbine.</p>
                  <a href="contact.html">Reserve a Table</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--End about section-->

<!--Discover section-->
<section class="section-discover-menu">
   <div class="container">
      <div class="heading-two">
         <h2>Decouvrir Notre Menu</h2>
         <div class="line"></div>
      </div>
      <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         {% for categorie in menus %}
          <!--<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">-->
            {% if forloop.first %}
               <button class="nav-link active " id="v-pills-tab-{{categorie.id}}" data-bs-toggle="pill" data-bs-target="#v-pills-{{categorie.id}}" type="button" role="tab" aria-controls="v-pills-{{categorie.id}}" aria-selected="true">
                  <img src="{{categorie.image.url}}" height="100"  width="100" >
               {{categorie.nom}}</button>
            {% else %}
            
               <button class="nav-link " id="v-pills-tab-{{categorie.id}}" data-bs-toggle="pill" data-bs-target="#v-pills-{{categorie.id}}" type="button" role="tab" aria-controls="v-pills-{{categorie.id}}" aria-selected="true">
               <img src="{{categorie.image.url}}" height="100"  width="100" >
               {{categorie.nom}}</button>
          {% endif %}
          {% empty %}
          <h2> Rien dans le menu pour le moment </h2>
          {% endfor %}
      </div>
        <div class="tab-content" id="v-pills-tabContent">
         {% for categorie in menus %}
           {% if forloop.first %}
               <div class="tab-pane fade show active" id="v-pills-{{categorie.id}}" role="tabpanel" aria-labelledby="v-pills-tab-{{categorie.id}}">
                  <div class="row align-items-center discover-menu">
                     <div class="col-xl-6">
                        <div class="discover-img">
                           <img alt="discover" src="{{categorie.image.url}}" alt="image/{{categorie.nom}}" height="499"  width="500">
                        </div>
                     </div>
                     <div class="col-xl-5">
                        <div class="discover">
                           <h4>{{categorie.nom}}</h4>
                           <ul>
                              {% for item in categorie.items.all  %}
                              <li>
                                 <div>
                                    <h6><a href="{{item.get_absolute_url}}">{{item.title}}</a></h6>
                                    <p>{{item.description|truncatewords:6}}</p>
                                 </div>
                                 <span>fcfa {{item.price}}</span>
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
           {% else %}
               <div class="tab-pane fade show" id="v-pills-{{categorie.id}}" role="tabpanel" aria-labelledby="v-pills-tab-{{categorie.id}}">
                  <div class="row align-items-center discover-menu">
                     <div class="col-xl-6">
                        <div class="discover-img">
                           <img alt="discover" src="{{categorie.image.url}}" alt="image/{{categorie.nom}}" height="499"  width="500">
                        </div>
                     </div>
                     <div class="col-xl-5">
                        <div class="discover">
                           <h4>{{categorie.nom}}</h4>
                           <ul>
                              {% for item in categorie.items.all  %}
                              <li>
                                 <div>
                                    <h6><a href="{{item.get_absolute_url}}">{{item.title}}</a></h6>
                                    <p>{{item.description|truncatewords:6}}</p>
                                 </div>
                                 <span>fcfa {{item.price}}</span>
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
           {% endif %}         
         {% endfor %}
        </div>
   </div>
</section>
<!--End discover section-->


<section class="gap">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="bbq" style="background-image: url(/static/assets/img/bbq.jpg)">
               <h2>Steaks & BBQ</h2>
               <p>canonical classics to obscure<br> tiki drinks</p>
               <div class="bbr-price">
                  <div>
                     <h3>$120</h3>
                     <span>per person</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="bbq mb-0" style="background-image: url(/static/assets/img/bbq-1.jpg)">
               <h2>Cocktails</h2>
               <p>canonical classics to obscure <br> tiki drinks</p>
               <div class="bbr-price">
                  <div>
                     <h3>$120</h3>
                     <span>per person</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section>
   <div class="container">
      <div style="background-image: url(/static/assets/img/patron.jpg)" class="reserve-table">
         <div class="row">
            <div class="col-xl-4">
               <div class="reserve-table-text">
                  <h3>reserve A table</h3>
                  <p>Discover our New Menu !</p>
               </div>
            </div>
            <div class="col-xl-8">
               <div class="best-food-restaurants">
               <form role="form"  id="reservation-form" method="post">
                  <div class="row">
                     <div class="col-xl-6">
                         <input type="text" name="complete_name" placeholder="Complete Name">
                     </div>
                     <div class="col-xl-6">
                          <input type="email" name="email_address" placeholder="Email Address" required>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xl-6">
                         <input type="number" name="No of Guest" placeholder="No of Guest">
                     </div>
                     <div class="col-xl-6">
                        <div class="row">
                           <div class="col-xl-6">
                              <input type="date" name="day">
                           </div>
                           <div class="col-xl-6">
                              <input type="time" name="time">
                           </div>
                        </div>
                     </div>     
                  </div>
                  <button class="button" type="submit">Reserve a Table</button>
               </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="gap section-featured" style="background-color: #f5f8fd;">
   <div class="container">
      <div class="heading-two">
         <h2>Plats disponible</h2>
         <div class="line"></div>
      </div>
      <div class="row dishes owl-carousel owl-theme">
         {% for item in items  %}
            <div class="item col-xl-12">
               <div class="featured-dishes">
                  <div class="featured-dishes-img">
                     <img alt="featured-dishes" src="{{item.image.url}}" alt="image/{{item.title}}" height="277" width="278" >
                  </div>
                  <ul class="star">
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                  <a href="{{item.get_absolute_url}}"><h5>{{item.title}}</h5></a>
                  <p><span>fcfa </span>{{item.price}}</p>
                  {% csrf_token %}
                  <input type="hidden" name="qty" value="1" id="qty-{{item.id}}" >
                  <input type="hidden" name="oqty" value="0" id="oqty-{{item.id}}" >
                  <button class="add_to_cart" data-index="{{item.id}}">
                  <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></button>
               </div>
            </div>        
         {% endfor %}


      </div>
   </div>
</section>


<section class="gap">
   <div class="container">
      <div class="row">
         <div class="col-xl-6">
            <div class="heading">
               <span>Testimonials & Reviews</span>
               <h2>Our Customar Feedbacks</h2>
            </div>
            <div class="bratlee-slider owl-carousel owl-theme">
               <div class="bratlee-hamint item">
                  <p>A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food. All great deeds and all great thoughts</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Bratlee Hamint</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
               <div class="bratlee-hamint item">
                  <p>A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food. All great deeds and all great thoughts</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Bratlee Hamint</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
               <div class="bratlee-hamint item">
                  <p>A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food. All great deeds and all great thoughts</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Bratlee Hamint</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
               <div class="bratlee-hamint item">
                  <p>A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food. All great deeds and all great thoughts</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Bratlee Hamint</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="bratlee-img">
               <img alt="bratlee-hamin2" class="bratlee-hamint-2" src="{% static 'assets/img/bratlee-hamint-2.jpg' %}">
               <img alt="bratlee-hamint" class="bratlee-hamint-1" src="{% static 'assets/img/bratlee-hamint-1.jpg' %}">
               <img alt="bratlee-hamin3" class="bratlee-hamint-3" src="{% static 'assets/img/bratlee-hamint-3.jpg' %}">
            </div>
         </div>
      </div>
   </div>
</section>


<section class="gap no-top">
   <div class="container">
      <div class="heading-two">
         <h2>Meet Our Experts</h2>
         <div class="line"></div>
      </div>
      <div class="row">
         <div class="col-xl-4 col-lg-6">
            <div class="chef">
               <img alt="cook chef" src="{% static 'assets/img/chef-1.png' %}">
               <div class="chef-text">
                  <div>
                     <span>Dessert specialist</span>
                     <a href="chef-details.html"><h3>Thomas Walim</h3></a>
                     <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                     </ul>
                     <img alt="sine" src="{% static 'assets/img/sine.png' %}">
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-6">
            <div class="chef">
               <img alt="cook chef" src="{% static 'assets/img/chef-2.png' %}">
               <div class="chef-text">
                  <div>
                     <span>Chef Master</span>
                     <a href="chef-details.html"><h3>James Jhonson</h3></a>
                     <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                     </ul>
                     <img alt="sine" src="{% static 'assets/img/sine.png' %}">
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-6">
            <div class="chef mb-0">
               <img alt="cook chef" src="{% static 'assets/img/chef-3.png' %}">
               <div class="chef-text">
                  <div>
                     <span>Dessert specialist</span>
                     <a href="chef-details.html"><h3>Room Minal</h3></a>
                     <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                     </ul>
                     <img alt="sine" src="{% static 'assets/img/sine.png' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="gap">
   <div class="container">
      <div class="heading-two">
         <h2>Recent News</h2>
         <div class="line"></div>
      </div>
      <div class="row">
         <div class="col-xl-6">
            <div class="recent-news">
               <img alt="recent-news" src="{% static 'assets/img/recent-news-1.jpg' %}">
               <div>
                  <a href="#"><span>29 December, 2023</span></a>
                  <a href="blog-details.html"><h3>Table restaurant located in on Bank Street</h3></a>
                  <div class="d-flex align-items-center"><img alt="img" class="me-3" src="{% static 'assets/img/man.jpg' %}"><h6>by Thomas Walimes</h6></div>
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="recent-news">
               <img alt="recent-news" src="{% static 'assets/img/recent-news-2.jpg' %}">
               <div>
                  <a href="#"><span>29 December, 2023</span></a>
                  <a href="blog-details.html"><h3>Craig Davies appointed executive head chef of Burgh</h3></a>
                  <div class="d-flex align-items-center"><img alt="img" class="me-3" src="{% static 'assets/img/man.jpg' %}"><h6>by Thomas Walimes</h6></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


{% endblock content %}