{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Accueil{% endblock title %}
{% block content %}
<!--HERO SECTION-->
<section class="slider-hero">
    <div class="slider-home-1 owl-carousel owl-theme">
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-1.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>L'espace parfait pour profiter d'un plat fantastique</h2>
                      <h5>Un café chaleureux offrant des boissons délicieuses, des pâtisseries fraîches et une ambiance accueillante pour se détendre et socialiser.</h5>
                      <div class="d-md-flex align-items-center">
                         <a href="{% url 'app:menu' %}" class="button">Voir notre menu</a>
                         <div class="video">
                         <a data-fancybox="" href="https://www.youtube.com/watch?v=1La4QzGeaaQ"><i>
                           <svg width="15" height="22" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M11 8.5L0.5 0.272758L0.5 16.7272L11 8.5Z" fill="#fff"/>
                           </svg>
                            </i>Voir Video</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-2.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>fromage grillé</h2>
                      <h1>burger</h1>
                      <h6>Offre d'une durée limitée</h6>
                      <div class="d-md-flex align-items-center">
                         <a href="{% url 'app:menu' %}" class="button">obtenir aujourd'hui</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-3.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>delicieux</h2>
                      <h1>Pizzas chaudes</h1>
                      <h6>ne manquez pas cette offre</h6>
                      <div class="d-md-flex align-items-center">
                         <a href="{% url 'app:menu' %}" class="button">obtenir aujourd'hui</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="hero-section item" style="background-image: url(/static/assets/img/hero-4.jpg)">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-xl-6">
                   <div class="featured-area">
                      <h2>Boisson d'été</h2>
                      <h1>Cocktail</h1>
                      <h6>Offre d'une durée limitée</h6>
                      <div class="d-md-flex align-items-center">
                         <a href="{% url 'app:menu' %}" class="button">obtenir aujourd'hui</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="weekly-special">
                  <span>Spécial de la semaine</span>
                  <div>
                     <h4><sup>F</sup>1000</h4>
                     <h5>Pizza sicilienne</h5>
                     <ul class="star">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                     </ul>
                  </div>
                  <img alt="Pizza" src="{% static 'assets/img/pizze-img.png' %}">
               </div>
</section>
<!--END-->

<!--About section-->
<section class="gap">
   <div class="container">
      <div class="row">
         <div class="col-xl-6">
            <div class="heading">
               <span>À propos du cafetariat le café</span>
               <h2>Nouveau terrain avec des plats à déguster</h2>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="about-text">
               <p>Le café est un endroit convivial où l'on peut savourer diverses boissons chaudes ou froides, ainsi que des collations légères. Il offre souvent un espace confortable pour se détendre, travailler ou socialiser. Avec une atmosphère accueillante et une sélection de produits variés, le cafétariat est l'endroit idéal pour se ressourcer rapidement.. </p>
               <div class="mt-4 d-flex align-items-center">
                  <img alt="girl" src="{% static 'assets/img/man.jpg' %}">
                  <div>
                     <h4>Menra Romial</h4>
                     <p>Directeur et chef des opérations</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>
<!--End about section-->

<!--Discover section-->
<section class="section-discover-menu">
   <div class="container">
      <div class="heading-two">
         <h2>Decouvrir Notre Menu</h2>
         <div class="line"></div>
      </div>
      <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         {% for categorie in menus %}
          <!--<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">-->
            {% if forloop.first %}
               <button class="nav-link active " id="v-pills-tab-{{categorie.id}}" data-bs-toggle="pill" data-bs-target="#v-pills-{{categorie.id}}" type="button" role="tab" aria-controls="v-pills-{{categorie.id}}" aria-selected="true">
                  <img src="{{categorie.image.url}}" height="100"  width="100" >
               {{categorie.nom}}</button>
            {% else %}
            
               <button class="nav-link " id="v-pills-tab-{{categorie.id}}" data-bs-toggle="pill" data-bs-target="#v-pills-{{categorie.id}}" type="button" role="tab" aria-controls="v-pills-{{categorie.id}}" aria-selected="true">
               <img src="{{categorie.image.url}}" height="100"  width="100" >
               {{categorie.nom}}</button>
          {% endif %}
          {% empty %}
          <h2> Rien dans le menu pour le moment </h2>
          {% endfor %}
      </div>
        <div class="tab-content" id="v-pills-tabContent">
         {% for categorie in menus %}
           {% if forloop.first %}
               <div class="tab-pane fade show active" id="v-pills-{{categorie.id}}" role="tabpanel" aria-labelledby="v-pills-tab-{{categorie.id}}">
                  <div class="row align-items-center discover-menu">
                     <div class="col-xl-6">
                        <div class="discover-img">
                           <img alt="discover" src="{{categorie.image.url}}" alt="image/{{categorie.nom}}" height="499"  width="500">
                        </div>
                     </div>
                     <div class="col-xl-5">
                        <div class="discover">
                           <h4>{{categorie.nom}}</h4>
                           <ul>
                              {% for item in categorie.items.all  %}
                              <li>
                                 <div>
                                    <h6><a href="{{item.get_absolute_url}}">{{item.title}}</a></h6>
                                    <p>{{item.description|truncatewords:6}}</p>
                                 </div>
                                 <span>fcfa {{item.price}}</span>
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
           {% else %}
               <div class="tab-pane fade show" id="v-pills-{{categorie.id}}" role="tabpanel" aria-labelledby="v-pills-tab-{{categorie.id}}">
                  <div class="row align-items-center discover-menu">
                     <div class="col-xl-6">
                        <div class="discover-img">
                           <img alt="discover" src="{{categorie.image.url}}" alt="image/{{categorie.nom}}" height="499"  width="500">
                        </div>
                     </div>
                     <div class="col-xl-5">
                        <div class="discover">
                           <h4>{{categorie.nom}}</h4>
                           <ul>
                              {% for item in categorie.items.all  %}
                              <li>
                                 <div>
                                    <h6><a href="{{item.get_absolute_url}}">{{item.title}}</a></h6>
                                    <p>{{item.description|truncatewords:6}}</p>
                                 </div>
                                 <span>fcfa {{item.price}}</span>
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
           {% endif %}         
         {% endfor %}
        </div>
   </div>
</section>
<!--End discover section-->


<section class="gap">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="bbq" style="background-image: url(/static/assets/img/bbq.jpg)">
               <h2>Steaks et barbecue</h2>
               <p>classiques canoniques à obscurcir<br> café au lait</p>
               <div class="bbr-price">
                  <div>
                     <h3>fcfa200</h3>
                     <span>par personne</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="bbq mb-0" style="background-image: url(/static/assets/img/bbq-1.jpg)">
               <h2>Cocktails</h2>
               <p>canonical classics to obscure <br> tiki drinks</p>
               <div class="bbr-price">
                  <div>
                     <h3>fcfa120</h3>
                     <span>per person</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section class="gap section-featured" style="background-color: #f5f8fd;">
   <div class="container">
      <div class="heading-two">
         <h2>Plats disponible</h2>
         <div class="line"></div>
      </div>
      <div class="row dishes owl-carousel owl-theme">
         {% for item in items  %}
            <div class="item col-xl-12">
               <div class="featured-dishes">
                  <div class="featured-dishes-img">
                     <img alt="featured-dishes" src="{{item.image.url}}" alt="image/{{item.title}}" height="277" width="278" >
                  </div>
                  <ul class="star">
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                  <a href="{{item.get_absolute_url}}"><h5>{{item.title}}</h5></a>
                  <p><span>fcfa </span>{{item.price}}</p>
                  {% csrf_token %}
                  <input type="hidden" name="qty" value="1" id="qty-{{item.id}}" >
                  <input type="hidden" name="oqty" value="0" id="oqty-{{item.id}}" >
                  <a class="add_to_cart" data-index="{{item.id}}">
                  <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
               </div>
            </div>        
         {% endfor %}


      </div>
   </div>
</section>


<section class="gap">
   <div class="container">
      <div class="row">
         <div class="col-xl-6">
            <div class="heading">
               <span>Témoignages et avis</span>
               <h2>Nos retours d'expérience</h2>
            </div>
            <div class="bratlee-slider owl-carousel owl-theme">
               <div class="bratlee-hamint item">
                  <p>Un bon restaurant, c'est comme des vacances ; cela vous transporte et cela devient bien plus qu'une simple question de nourriture. Toutes les grandes actions et toutes les grandes pensées</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Moussa</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
               <div class="bratlee-hamint item">
                  <p>J'adore ce cafétariat ! Les baristas sont sympathiques et talentueux, les boissons sont délicieuses et les pâtisseries sont toujours fraîches. L'atmosphère est chaleureuse et accueillante, parfait pour se détendre ou travailler. C'est définitivement mon endroit préféré pour prendre un café !</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Abanda</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
               <div class="bratlee-hamint item">
                  <p>J'adore ce cafétariat ! Les boissons sont délicieuses, le personnel est sympathique et l'ambiance est chaleureuse. Un endroit parfait pour se détendre et profiter d'un bon café.</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Kenfack</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
               <div class="bratlee-hamint item">
                  <p>J'adore ce cafétariat ! Le personnel est sympathique et les boissons sont délicieuses. L'atmosphère est chaleureuse et l'endroit idéal pour se détendre ou travailler. Je le recommande viveme</p>
                  <div class="d-flex align-items-center mt-4">
                     <h3>Kankan</h3>
                     <ul class="star">
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                           <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                  </div>
                  <img alt="quote" class="quote" src="{% static 'assets/img/quote.png' %}">
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="bratlee-img">
               <img alt="bratlee-hamin2" class="bratlee-hamint-2" src="{% static 'assets/img/bratlee-hamint-2.jpg' %}">
               <img alt="bratlee-hamint" class="bratlee-hamint-1" src="{% static 'assets/img/bratlee-hamint-1.jpg' %}">
               <img alt="bratlee-hamin3" class="bratlee-hamint-3" src="{% static 'assets/img/bratlee-hamint-3.jpg' %}">
            </div>
         </div>
      </div>
   </div>
</section>


<section class="gap no-top">
   <div class="container">
      <div class="heading-two">
         <h2>Rencontrez nos experts</h2>
         <div class="line"></div>
      </div>
      <div class="row">
         <div class="col-xl-4 col-lg-6">
            <div class="chef">
               <img alt="cook chef" src="{% static 'assets/img/chef-1.png' %}">
               <div class="chef-text">
                  <div>
                     <span>Spécialiste des desserts</span>
                     <a href="chef-details.html"><h3>Sarah Garba</h3></a>
                     <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                     </ul>
                     <img alt="sine" src="{% static 'assets/img/sine.png' %}">
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-6">
            <div class="chef">
               <img alt="cook chef" src="{% static 'assets/img/chef-2.png' %}">
               <div class="chef-text">
                  <div>
                     <span>Maître cuisinier</span>
                     <a href="chef-details.html"><h3>Menra Romial</h3></a>
                     <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                     </ul>
                     <img alt="sine" src="{% static 'assets/img/sine.png' %}">
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>

<section class="gap">
   <div class="container">
      <div class="heading-two">
         <h2>Nouvelles récentes</h2>
         <div class="line"></div>
      </div>
      <div class="row">
         <div class="col-xl-6">
            <div class="recent-news">
               <img alt="recent-news" src="{% static 'assets/img/recent-news-1.jpg' %}">
               <div>
                  <a href="#"><span>29 Decembre, 2023</span></a>
                  <a href="#"><h3>Restaurant de table situé sur la rue ENSPY</h3></a>
                  <div class="d-flex align-items-center"><img alt="img" class="me-3" src="{% static 'assets/img/man.jpg' %}"><h6>par Thomas Walimes</h6></div>
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="recent-news">
               <img alt="recent-news" src="{% static 'assets/img/recent-news-2.jpg' %}">
               <div>
                  <a href="#"><span>29 Decembre, 2023</span></a>
                  <a href="#"><h3>Restaurant de table situé sur la rue ENSPY</h3></a>
                  <div class="d-flex align-items-center"><img alt="img" class="me-3" src="{% static 'assets/img/man.jpg' %}"><h6>par Thomas Walimes</h6></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


{% endblock content %}