{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Menu{% endblock title %}
{% block content %}

<section class="banner" style="background-image:url(/static/assets/img/background.png)">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-7">
             <div class="title-area-data">
                <h2>Menu</h2>
                <p>A magical combination that sent aromas to the taste buds</p>
             </div>
             <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Acceuil</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Menu</li>
             </ol>
          </div>
          <div class="col-lg-5">
             <div class="row">
                <div class="col-6">
                   <div class="title-area-img">
                      <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                      <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                   </div>
                </div>
                <div class="col-6">
                   <div class="title-area-img two">
                      <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 {% include 'partials/categories.html' %}

 <section class="gap">
    <div class="container">
        <div class="heading-two">
            <h2>Les Plats</h2>
            <div class="line"></div>
         </div>
       <div class="row">
          <div class="col-xl-4 col-md-6">
             <div class="featured-dishes">
                <div class="featured-dishes-img">
                   <img alt="featured-dishes" src="{% static 'assets/img/featured-dishes-1.png' %}">
                </div>
                <ul class="star">
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="{% url  'app:p-details' %}"><h5>Brown Sandwich</h5></a>
                <p><span>$</span>10.85</p>
                <a href="#">
                <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
             </div>
          </div>
          <div class="col-xl-4 col-md-6">
             <div class="featured-dishes">
                <div class="sale">
                   <h6>Sale</h6>
                </div>
                <div class="featured-dishes-img">
                   <img alt="featured-dishes" src="{% static 'assets/img/featured-dishes-2.png' %}">
                </div>
                <ul class="star">
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="{% url  'app:p-details' %}"><h5>Brown Sandwich</h5></a>
                <div class="d-flex">
                   <p><span>$</span>10.85</p>
                   <del>$14.5</del>
                </div>
                <a href="#">
                <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
             </div>
          </div>
          <div class="col-xl-4 col-md-6">
             <div class="featured-dishes">
                <div class="featured-dishes-img">
                   <img alt="featured-dishes" src="{% static 'assets/img/featured-dishes-3.png' %}">
                </div>
                <ul class="star">
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="{% url  'app:p-details' %}"><h5>Parisian Hamburger</h5></a>
                <p><span>$</span>10.85</p>
                <a href="#">
                <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
             </div>
          </div>
          <div class="col-xl-4 col-md-6">
             <div class="featured-dishes">
                <div class="featured-dishes-img">
                   <img alt="featured-dishes" src="{% static 'assets/img/featured-dishes-2.png' %}">
                </div>
                <ul class="star">
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="{% url  'app:p-details' %}"><h5>Parisian Hamburger</h5></a>
                <p><span>$</span>10.85</p>
                <a href="#">
                <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
             </div>
          </div>
          <div class="col-xl-4 col-md-6">
             <div class="featured-dishes">
                <div class="sale">
                   <h6>Sale</h6>
                </div>
                <div class="featured-dishes-img">
                   <img alt="featured-dishes" src="{% static 'assets/img/featured-dishes-2.png' %}">
                </div>
                <ul class="star">
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="{% url  'app:p-details' %}"><h5>Brown Sandwich</h5></a>
                <div class="d-flex">
                   <p><span>$</span>10.85</p>
                   <del>$14.5</del>
                </div>
                <a href="#">
                <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
             </div>
          </div>
          <div class="col-xl-4 col-md-6">
             <div class="featured-dishes">
                <div class="featured-dishes-img">
                   <img alt="featured-dishes" src="{% static 'assets/img/featured-dishes-3.png' %}">
                </div>
                <ul class="star">
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                   <li><i class="fa-solid fa-star"></i></li>
                </ul>
                <a href="{% url  'app:p-details' %}"><h5>Parisian Hamburger</h5></a>
                <p><span>$</span>10.85</p>
                <a href="#">
                <i><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i></a>
             </div>
          </div>
          <ul class="pagination m-auto mt-5">
                   <li class="prev"><a href="#"><i class="fa-solid fa-angles-left"></i></a></li>
                   <li><a href="#">1</a></li>
                   <li><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">...</a></li>
                   <li><a href="#">18</a></li>
                   <li class="next"><a href="#"><i class="fa-solid fa-angles-right"></i></a></li>
                </ul>
       </div>
    </div>
 </section>

 {% endblock content %}