{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Details du Plat{% endblock title %}
{% block content %}

<style>
   .nice-select{
      margin-bottom: 15px;
      width: 100%;
      height: 60px;
      border-radius: 10px;
      padding-left: 30px;
      border: 3px solid #d6deec;
      padding-top: 10px;
      font-family: 'Epilogue';
   }
   .nice-select:after {
      right: 25px;
  }
</style>

<section class="banner" style="background-image:url(/static/assets/img/background.png)">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="title-area-data">
               <h2>Product Details</h2>
               <p>A magical combination that sent aromas to the taste buds</p>
            </div>
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                 <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Acceuil</a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">Product Details</li>
            </ol>
         </div>
         <div class="col-lg-5">
            <div class="row">
               <div class="col-6">
                  <div class="title-area-img">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                     <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                  </div>
               </div>
               <div class="col-6">
                  <div class="title-area-img two">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="gap featured-dishes-product-detail-img">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xl-6">
            <div class="featured-dishes product-detail-img">
               
               <div class="featured-dishes-img">
                  <img alt="image/{{item.title}}" height="427" width = "340" src="{{item.image.url}}">
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="available">
               <span>
                  <i class="fa-solid fa-check"></i>
                  available
               </span>
               <ul class="star">
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                  </ul>
               <h6>( 1 Review )</h6>
            </div>
            <div class="product-info ">
               <h3>
                  {{item.title}}
               </h3>
               <form class="variations_form" role="form" method="post" id="add_to_cart_form">
                  <div class="deal-week mb-4 d-flex align-items-center"><h2 class="m-0"><span>Fcfa </span>{{item.price}}</h2></div>
                  <h5>Ce qui est inclu</h5>
                  <p>{{item.ingredients.all|join:", "}}</p>
                  <div class="d-flex align-items-center mt-4">
                     
                        {% csrf_token %}
                     <input type="number" id="qty" class="input-text me-4" step="1" min="1" name="qty" value="1">
                     <input type="hidden" value="{{item.id}}" name="item-id" id="item-id">
                     <input type="hidden" value="0" name="oqty" id="oqty">
                     <button class="button" type="submit" value="submit">
                        <span>Ajouter au pannier</span>
                     </button>
                  
                  </div>
                  <ul class="product_meta">
                   <li><span class="theme-bg-clr">Tags:</span>
                     <ul class="pd-tag">
                        <li>
                        {% for tag in item.tags.all %}
                           <a href="#">
                           {{ tag.name }}
                           </a>
                           {% if not forloop.last %}, {% endif %}
                           {% endfor %}   
                     </ul>
                   </li>
                 </ul>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="about-chef">
   <div class="container">
      <h2 class="pb-3">Description</h2>
      <p>{{item.description}}</p>
      <div class="row">
         {% for img in item.item_images.all %}
         <div class="col-lg-4 col-sm-6">
            <div class="product-img">
               <img alt="product-img" height="250" width = "356" src="{{img.image.url}}"> 
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<section>
   <div class="container">
      <div class="benefits">
         <div>
            <h2 class="pb-3">Ingredients</h2>
            <ul class="quality-foods">
               {% for ing in item.ingredients.all %}
                  <li><img alt="img" src="{% static 'assets/img/check.png' %}"><h6>{{ing.ingredient.nom}}</h6></li>
               {% endfor %}
               </ul>
         </div>
         <div class="benefit-img">
            <img alt="benefit" src="{% static 'assets/img/benefit.png' %}">
         </div>
      </div>
   </div>
</section>
<!--RATING SECTION-->
<section class="gap no-top">
   <div class="container">
      <div class="review">
              <h3>Commentaires</h3>
              <div id="comment-container">
              {% for review in item.item_reviews.all %}
              <div class="single-comment">
               <img alt="img" src="{% static 'assets/img/avatar.png' %}" height="160" width="160">
               <div class="ps-md-4">
                 <div class="d-flex align-items-center">
                   <h4>{{review.fullname}}</h4>
                   <span>{{review.date}}</span>
                 </div>
                   <p>{{review.review}}</p>
               </div> 
               <ul class="star">
                  {% with ''|center:review.rating as range %}
                  {% for _ in range %}
                     <li><i class="fa-solid fa-star"></i></li>
                  {% endfor %}
                  {% endwith %}
             </ul>
             </div>
              {% empty %}
              <h3> Pas de Commentaires </h3>
              {% endfor %}
            </div>
                  <div class="add-review leave-comment checkout-meta donate-page">
                    <div class="rating">
                      <h3>Ajouter un commentaire</h3>
                    </div>
                    <div class="row">
                     {% csrf_token %}
                      <div class="col-lg-6 ps-lg-0">
                        <input type="text" id="fullname" name="fullname" placeholder="Nom Complet" required>
                      </div>
                      <div class="col-lg-6 pe-lg-0">
                           <select name="rating" id="rating" class="nice-select Advice state province">
                              <option value="5">★★★★★</option>
                              <option value="4">★★★★☆</option>
                              <option value="3">★★★☆☆</option>
                              <option value="2">★★☆☆☆</option>
                              <option value="1">★☆☆☆☆</option>
                           </select>
                      </div>
                      <textarea name="review" id="review" placeholder="Ajouter un commentaire"></textarea>
                        <button id="add-review" data-index="{{item.id}}" class="button add-review-btn" style="width:auto;">
                          <span>Ajouter</span>
                        </button>
                    </div>
                  </div>
            </div>
   </div>
</section>



{% endblock content %}