{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Details du Plat{% endblock title %}
{% block content %}

<style>
   .checkbox-wrapper-33 {
      --s-xsmall: 0.625em;
      --s-small: 1.2em;
      --border-width: 1px;
      --c-primary: #5F11E8;
      --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
      --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
      --t-base: 0.4s;
      --t-fast: 0.2s;
      --e-in: ease-in;
      --e-out: cubic-bezier(.11,.29,.18,.98);
    }
    
    .checkbox-wrapper-33 .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .checkbox-wrapper-33 .checkbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    
    .checkbox-wrapper-33 .checkbox + .checkbox {
      margin-top: var(--s-small);
    }
    
    .checkbox-wrapper-33 .checkbox__symbol {
      display: inline-block;
      display: flex;
      margin-right: calc(var(--s-small) * 0.7);
      border: var(--border-width) solid var(--c-primary);
      position: relative;
      border-radius: 0.1em;
      width: 1.5em;
      height: 1.5em;
      transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
      box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
    }
    
    .checkbox-wrapper-33 .checkbox__symbol:after {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0.5em;
      width: 0.25em;
      height: 0.25em;
      background-color: var(--c-primary-20-percent-opacity);
      opacity: 0;
      border-radius: 3em;
      transform: scale(1);
      transform-origin: 50% 50%;
    }
    
    .checkbox-wrapper-33 .checkbox .icon-checkbox {
      width: 1em;
      height: 1em;
      margin: auto;
      fill: none;
      stroke-width: 3;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      color: var(--c-primary);
      display: inline-block;
    }
    
    .checkbox-wrapper-33 .checkbox .icon-checkbox path {
      transition: stroke-dashoffset var(--t-fast) var(--e-in);
      stroke-dasharray: 30px, 31px;
      stroke-dashoffset: 31px;
    }
    
    .checkbox-wrapper-33 .checkbox__textwrapper {
      margin: 0;
    }
    
    .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
      -webkit-animation: ripple-33 1.5s var(--e-out);
      animation: ripple-33 1.5s var(--e-out);
    }
    
    .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
      transition: stroke-dashoffset var(--t-base) var(--e-out);
      stroke-dashoffset: 0px;
    }
    
    .checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
      box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
    }
    
    @-webkit-keyframes ripple-33 {
      from {
        transform: scale(0);
        opacity: 1;
      }
    
      to {
        opacity: 0;
        transform: scale(20);
      }
    }
    
    @keyframes ripple-33 {
      from {
        transform: scale(0);
        opacity: 1;
      }
    
      to {
        opacity: 0;
        transform: scale(20);
      }
    }
</style>

<section class="banner" style="background-image:url(/static/assets/img/background.png)">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="title-area-data">
               <h2>Détails de la nourriture</h2>
               <p>Une combinaison magique qui envoie des arômes aux papilles</p>
            </div>
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                 <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Accueil</a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">Détails de la nourriture</li>
            </ol>
         </div>
         <div class="col-lg-5">
            <div class="row">
               <div class="col-6">
                  <div class="title-area-img">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                     <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                  </div>
               </div>
               <div class="col-6">
                  <div class="title-area-img two">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="gap featured-dishes-product-detail-img">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xl-6">
            <div class="featured-dishes product-detail-img">
               
               <div class="featured-dishes-img">
                  <img alt="image/{{item.title}}" height="427" width = "340" src="{{item.image.url}}">
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="available">
               <span>
                  <i class="fa-solid fa-check"></i>
                  disponible
               </span>
               <ul class="star">
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                     <li><i class="fa-solid fa-star"></i></li>
                  </ul>
               <h6>( {{item.item_reviews.count}} avis )</h6>
            </div>
            <div class="product-info ">
               <h3>
                  {{item.title}}
               </h3>
               <form class="variations_form" role="form" method="post" id="add_to_cart_form">
                  <div class="deal-week mb-4 d-flex align-items-center"><h2 class="m-0"><span>Fcfa </span><span id="total_price">{{item.price}}</span></h2></div>
                  <h5>Ce qui est inclu</h5>
                  <p>{% for ing in item.ingredients.all %}
                     {% if ing.is_default %}
                     {{ing.ingredient.nom}},
                     {% endif %}
                     {% endfor %}
                  </p>
                  <div class="d-flex align-items-center mt-4">
                     
                        {% csrf_token %}
                     <input type="number" id="qty" class="input-text me-4" step="1" min="1" name="qty" value="1">
                     <input type="hidden" value="{{item.id}}" name="item-id" id="item-id">
                     <input type="hidden" value="0" name="oqty" id="oqty">
                     <button class="button" type="submit" value="submit">
                        <span>Ajouter au panier</span>
                     </button>
                  
                  </div>
                  <ul class="product_meta">
                   <li><span class="theme-bg-clr">Ingredients choisis:</span>
                     <ul class="pd-tag" id="itemList">
                           
                     </ul>
                   </li>
                 </ul>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>

<div class="about-chef">
   <div class="container" id="checkboxContainer">
      <h2 class="pb-3">Ajouter des ingredients</h2>
      
      <!--Checkbox-->
      {% for ing in item.ingredients.all %}
      {% if not ing.is_default %}
      <div class="checkbox-wrapper-33">
         <label class="checkbox">
           <input type="checkbox" value="{{ing.ingredient.cout}}" data-index="{{ing.ingredient.id}}"  class="checkbox__trigger visuallyhidden">
           <span class="checkbox__symbol">
             <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 28 28" height="28px" width="28px" class="icon-checkbox" aria-hidden="true">
               <path d="M4 14l8 7L24 7"></path>
             </svg>
           </span>
           <p class="checkbox__textwrapper" id="name-{{ing.ingredient.id}}">{{ing.ingredient.nom}}</p>
         </label>
      </div>
      {% endif %}
      {% endfor %}
      <!--End checkbox-->
   </div>
</div>

<div class="about-chef">
   <div class="container">
      <h2 class="pb-3">Description</h2>
      <p>{{item.description}}</p>
      <div class="row">
         {% for img in item.item_images.all %}
         <div class="col-lg-4 col-sm-6">
            <div class="product-img">
               <img alt="product-img" height="250" width = "356" src="{{img.image.url}}"> 
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<section>
   <div class="container">
      <div class="benefits">
         <div>
            <h2 class="pb-3">Ingredients</h2>
            <ul class="quality-foods">
               {% for ing in item.ingredients.all %}
                  <li><img alt="img" src="{% static 'assets/img/check.png' %}"><h6>{{ing.ingredient.nom}}</h6></li>
               {% endfor %}
               </ul>
         </div>
         <div class="benefit-img">
            <img alt="benefit" src="{% static 'assets/img/benefit.png' %}">
         </div>
      </div>
   </div>
</section>
<!--RATING SECTION-->
<section class="gap no-top">
   <div class="container">
      <div class="review">
              <h3>Commentaires</h3>
              <div id="comment-container">
              {% for review in item.item_reviews.all %}
              <div class="single-comment">
               <img alt="img" src="{% static 'assets/img/avatar.png' %}" height="160" width="160">
               <div class="ps-md-4">
                 <div class="d-flex align-items-center">
                   <h4>{{review.fullname}}</h4>
                   <span>{{review.date}}</span>
                 </div>
                   <p>{{review.review}}</p>
               </div> 
               <ul class="star">
                  {% with ''|center:review.rating as range %}
                  {% for _ in range %}
                     <li><i class="fa-solid fa-star"></i></li>
                  {% endfor %}
                  {% endwith %}
             </ul>
             </div>
              {% empty %}
              <h3> Pas de Commentaires </h3>
              {% endfor %}
            </div>
                  <div class="add-review leave-comment checkout-meta donate-page">
                    <div class="rating">
                      <h3>Ajouter un commentaire</h3>
                    </div>
                    <div class="row">
                     {% csrf_token %}
                      <div class="col-lg-6 ps-lg-0">
                        <input type="text" id="fullname" name="fullname" placeholder="Nom Complet" required>
                      </div>
                      <div class="col-lg-6 pe-lg-0">
                           <select name="rating" id="rating" class="nice-select Advice state province">
                              <option value="5">★★★★★</option>
                              <option value="4">★★★★☆</option>
                              <option value="3">★★★☆☆</option>
                              <option value="2">★★☆☆☆</option>
                              <option value="1">★☆☆☆☆</option>
                           </select>
                      </div>
                      <textarea name="review" id="review" placeholder="Ajouter un commentaire"></textarea>
                        <button id="add-review" data-index="{{item.id}}" class="button add-review-btn" style="width:auto;">
                          <span>Ajouter</span>
                        </button>
                    </div>
                  </div>
            </div>
   </div>
</section>



{% endblock content %}