
{% load static %}
<!-- LOADER -->
<div id="preloader">
    <div class="line-scale">
    	<div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- END LOADER --> 

<!-- START HEADER -->
<header class="header_wrap dark_skin main_menu_uppercase">
	<div class="top-header bg_gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                	<ul class="contact_detail border_list list_none text-center text-md-left">
                        <li><a href="#"><i class="ti-mobile"></i> <span>+237 6 94 08 62 73</span></a></li>
                        <li><a href="mailto:info@lecafe.com"><i class="ti-email"></i> <span>info@lecafe.com</span></a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="header_list border_list list_none header_dropdown text-center text-md-right">
                        {% if request.user.is_authenticated %}
                        <li><a href="#"><i class="ti-user"></i> <span>Bienvenu {{request.user.username}}</span></a></li>
                        {% endif %}
                        <li class="dropdown">
                          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Mon compte</a>
                          <div class="dropdown-menu shadow dropdown-menu-right">
                            <ul>
                                <li><a class="dropdown-item" href="{% url 'authuser:register' %}">créer un compte</a></li>
                                {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'authuser:logout' %}">deconnecter</a></li>
                                
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'authuser:login' %}">se connecter</a></li>
                                {% endif %}
                                
                                <li><a class="dropdown-item" href="checkout.html">tableau de bord</a></li>

                            </ul>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg"> 
            <a class="navbar-brand" href="{% url 'app:home' %}">
                <img class="logo_light" src="{% static 'assets/images/logo_white.png' %}" alt="logo" />
                <img class="logo_dark" src="{% static 'assets/images/logo_dark.png' %}" alt="logo" />
                <img class="logo_default" src="{% static 'assets/images/logo_dark.png' %}" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav">
                    <li >
                        <a class="nav-link active" href="{% url 'app:home' %}" >Acceuil</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'app:about' %}">A propos </a>
                    </li>
                    <li>
                        <a class="nav-link" href="shop-grid-view.html" >All Menu</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'app:blogs' %}" >Blog</a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <ul> 
                                <li><a class="dropdown-item nav-link nav_item" href="team.html">Our Team</a></li>
                                <li><a class="dropdown-item nav-link nav_item dropdown-toggler" href="#">Gallery</a>
                                	<div class="dropdown-menu">
                                        <ul> 
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-three-columns.html">Grid 3 Columns</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-four-columns.html">Grid 4 Columns</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-three-columns-wide.html">Grid 3 Columns Wide</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-four-columns-wide.html">Grid 4 Columns Wide</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-masonry-three-columns.html">Masonry 3 Columns</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-masonry-four-columns.html">Masonry 4 Columns</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-masonry-three-columns-wide.html">Masonry 3 Columns Wide</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-masonry-four-columns-wide.html">Masonry 4 Columns Wide</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="gallery-detail.html">Gallery Detail</a></li>
                                        </ul>
                                    </div>
                                </li>  
                                <li><a class="dropdown-item nav-link nav_item" href="faq.html">FAQ</a></li> 
                                <li><a class="dropdown-item nav-link nav_item" href="coming-soon.html">Coming Soon</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="404.html">404 Page</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="nav-link" href="{% url 'app:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav attr-nav align-items-center">
                <li><a href="javascript:void(0);" class="nav-link search_trigger"><i class="ion-ios-search-strong"></i></a>
                    <div class="search-overlay">
                        <div class="search_wrap">
                            <form>
                                <div class="rounded_input">
                                	<input type="text" placeholder="Search" class="form-control" id="search_input">
                                </div>
                                <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="dropdown cart_wrap">
                	<a class="nav-link" href="#" data-toggle="dropdown"><i class="ion-bag"></i><span class="cart_count">2</span></a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                <li>
                                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                                    <a href="#"><img src="assets/images/cart_thamb1.jpg" alt="cart_thumb1">Fresh Organic Strawberry</a>
                                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span>78.00</span></span>
                                </li>
                                <li>
                                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                                    <a href="#"><img src="assets/images/cart_thamb2.jpg" alt="cart_thumb2">Fresh Organic Grapes</a>
                                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span>81.00</span></span>
                                </li>
                            </ul>
                        <div class="cart_footer">
                            <p class="cart_total">Total: <span class="cart_amount"> <span class="price_symbole">$</span>159.00</span></p>
                            <p class="cart_buttons"><a href="cart.html" class="btn btn-default btn-radius view-cart">View Cart</a><a href="checkout.html" class="btn btn-dark btn-radius checkout">Checkout</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- END HEADER --> 
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}