{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Tableau de bord{% endblock title %}
{% block content %}


<section class="banner" style="background-image:url(/static/assets/img/background.png)">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="title-area-data">
               <h2>Tableau de bord</h2>
               <p>Une combinaison magique qui envoie des arômes aux papilles</p>
            </div>
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                 <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Accueil</a>
               </li>
               
               <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
            </ol>
         </div>
         <div class="col-lg-5">
            <div class="row">
               <div class="col-6">
                  <div class="title-area-img">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                     <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                  </div>
               </div>
               <div class="col-6">
                  <div class="title-area-img two">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="gap">
   {% if orders|length >= 1 %}
   <div class="container" id="cart-list-table-container">
      <div class="woocommerce-cart-form" id="cart-list-table">
            <div style="overflow-x:auto;overflow-y: hidden;">
              <table class="shop_table table-responsive">
                    <thead>
                        <tr>
                            <th class="product-name">Nom</th>
                            <th class="product-quantity">Numéro de table</th>
                            <th class="product-quantity">Temps</th>
                            <th class="product-subtotal">Total</th>
                            <th class="product-subtotal">Payé</th>
                            <th class="product-subtotal">Validé</th>
                            <th class="product-subtotal">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for order in orders %}
                        <tr>
                            <td class="product-quantity">
                                
                                    <span>{{order.fullname}}</span>
                            </td>
                            <td class="product-quantity">
                                <span> {{order.table_number}}</span>
                            </td>                            <td class="product-quantity">
                              <span> {{order.created |time }}</span>
                          </td>
                            <td class="product-subtotal">
                                <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">fcfa </span><span>{{order.get_total_cost}}</span></bdi></span>
                            </td>
                            <td class="product-subtotal">
                              
                                 {% if order.paid  %}
                                 <i class="fa-solid fa-circle-check" style="color: #1fd143;"></i>
                                 {% else %}
                                 <i class="fa-solid fa-circle-xmark" style="color: #ed4902;"></i>
                                 {% endif %}
                               
                          </td>
                          <td class="product-subtotal">
                           
                              {% if order.valide  %}
                              <i class="fa-solid fa-circle-check" style="color: #1fd143;"></i>
                              {% else %}
                              <i class="fa-solid fa-circle-xmark" style="color: #ed4902;"></i>
                              {% endif %}
                              
                           
                         </td>
                          <td class="product-subtotal">
                           
                           <button class="open-order-details" data-index="{{order.id}}"   style="border: none;background-color: transparent;">
                              <i class="fa-solid fa-list" style="color: #bababa;"></i>
                           </button>
                       </td>
                        </tr>
                     {% endfor %}
                    </tbody>

              </table>
            </div>

      </div>
   </div>
   {% else %}
   <h2>Pas de Commande!! </>
   {% endif %}
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Details de la commande</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
           

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


{% endblock content %}