
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<section class="banner" style="background-image:url(/static/assets/img/background.png)">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="title-area-data">
               <h2>Login</h2>
               <p>A magical combination that sent aromas to the taste buds</p>
            </div>
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                 <a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i> Acceuil</a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">login</li>
            </ol>
         </div>
         <div class="col-lg-5">
            <div class="row">
               <div class="col-6">
                  <div class="title-area-img">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-1.jpg' %}">
                     <img alt="pata" class="pata" src="{% static 'assets/img/pata.png' %}">
                  </div>
               </div>
               <div class="col-6">
                  <div class="title-area-img two">
                     <img alt="title-area-img" src="{% static 'assets/img/title-area-img-2.jpg' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="gap">
   <div class="container">
      <div class="row">
        <div class="col-lg-6" >
          <div class="box login">
            <h3>Log In Your Account</h3>
            <form method="POST">
              {% csrf_token %}
              <input type="email" name="email" placeholder="Username or email address">
              <input type="password" name="password" placeholder="Password">
              <div class="remember">
                <div class="first">
                  <input type="checkbox" name="checkbox" id="checkbox">
                  <label for="checkbox">Remember me</label>
                </div>
                <div class="second">
                  <a href="javascript:void(0)">Forget a Password?</a>
                </div>
              </div>
              <button type="submit" class="button">Login</button>
            </form>
          </div>
        </div>
      </div>
   </div>
</section>
{% endblock content %}